<app-loading-spinner [isLoading]="carregando"></app-loading-spinner>

<div class="mt-4" *ngIf="!carregando">
  <h2>Gerenciamento de Turmas</h2>

  <button class="btn btn-primary" (click)="openModal()">Nova Turma</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Horário Início</th>
        <th scope="col">Horário Fim</th>
        <th scope="col">Local</th>
        <th scope="col">Dias da Semana</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turma of turmas">
        <td>{{ turma.name }}</td>
        <td>{{ turma.startTime }}</td>
        <td>{{ turma.endTime }}</td>
        <td>{{ turma.local.name }}</td>
        <td>
          <span *ngFor="let dia of turma.diasDaSemana">
            {{ dia }}
          </span>
        </td>
        <td class="text-center buttons">
          <!-- Botão de edição -->
          <button class="btn btn-sm btn-primary" (click)="openModal(turma)">
            Editar
          </button>
          <!-- Botão de exclusão -->
          <button
            class="btn btn-danger btn-sm"
            (click)="excluirTurma(turma._id)"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal de criação/edição -->
<div
  class="modal fade"
  id="turmaModal"
  tabindex="-1"
  aria-labelledby="turmaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="turmaModalLabel">
          {{ editMode ? "Editar Turma" : "Criar Turma" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #turmaForm="ngForm">
          <div class="form-group">
            <label for="nome">Nome da Turma</label>
            <input
              type="text"
              id="nome"
              class="form-control"
              required
              [(ngModel)]="Novaturma.name"
              name="nome"
              #nomeModel="ngModel"
            />
            <div
              *ngIf="nomeModel.invalid && nomeModel.touched"
              class="text-danger"
            >
              O campo nome é obrigatório.
            </div>
          </div>

          <div class="form-group">
            <label for="local">Local</label>
            <select
              id="local"
              class="form-select"
              required
              [(ngModel)]="Novaturma.local"
              name="local"
              #localModel="ngModel"
            >
              <option
                *ngFor="let local of locais"
                [value]="local._id"
                [selected]="local._id === Novaturma.local"
              >
                {{ local.name }}
              </option>
            </select>
            <div
              *ngIf="localModel.invalid && localModel.touched"
              class="text-danger"
            >
              O campo local é obrigatório.
            </div>
          </div>

          <div class="form-group">
            <label for="diasDaSemana">Dias da Semana</label>
            <select
              multiple
              class="form-select"
              id="diasDaSemana"
              name="diasDaSemana"
              [(ngModel)]="Novaturma.diasDaSemana"
              #diasModel="ngModel"
              required
            >
              <option *ngFor="let dia of diasSemana" [value]="dia">
                {{ dia | titlecase }}
              </option>
            </select>
            <div
              *ngIf="diasModel.invalid && diasModel.touched"
              class="text-danger"
            >
              Pelo menos um dia deve ser selecionado.
            </div>
          </div>

          <div class="form-group">
            <label for="horarioInicio">Horário de Início</label>
            <input
              type="text"
              id="horarioInicio"
              class="form-control"
              required
              [(ngModel)]="Novaturma.startTime"
              name="horarioInicio"
              #horarioInicioModel="ngModel"
              mask="00:00"
              placeholder="HH:MM"
            />
            <div
              *ngIf="horarioInicioModel.invalid && horarioInicioModel.touched"
              class="text-danger"
            >
              O campo horário de início é obrigatório.
            </div>
          </div>

          <div class="form-group">
            <label for="horarioFim">Horário de Fim</label>
            <input
              type="text"
              id="horarioFim"
              class="form-control"
              required
              [(ngModel)]="Novaturma.endTime"
              name="horarioFim"
              #horarioFimModel="ngModel"
              mask="00:00"
              placeholder="HH:MM"
            />
            <div
              *ngIf="horarioFimModel.invalid && horarioFimModel.touched"
              class="text-danger"
            >
              O campo horário de fim é obrigatório.
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary mt-4"
            [disabled]="!turmaForm.valid"
          >
            {{ editMode ? "Atualizar" : "Criar" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
