<div class="header" *ngIf="!noExistesSchool">
  <nav>{{ school.name }}</nav>
</div>

<div class="d-flex">
  <!-- Sidebar -->
  <div id="sidebar" class="sidebar bgdark text-white">
    <h4 class="ml-2 mt-1">Painel da Escola</h4>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/painel/locais">
          <i class="bi bi-geo-alt"></i> Locais
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/painel/turmas">
          <i class="bi bi-people"></i> Turmas
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/professores">
          <i class="bi bi-person"></i> Professores
        </a>
      </li> -->

      <!-- Alunos (com Submenu) -->
      <li class="nav-item">
        <a class="nav-link" (mouseover)="toggleAlunoMenu()">
          <i class="bi bi-person-badge"></i> Alunos
          <i
            class="bi"
            [class]="alunoMenuOpen ? 'bi-chevron-down' : 'bi-chevron-right'"
          ></i>
          <!-- Ícone para expandir/recolher -->
        </a>
        <ul
          *ngIf="alunoMenuOpen"
          class="nav flex-column ms-3"
          (mouseleave)="toggleAlunoMenu()"
        >
          <li class="nav-item">
            <a class="nav-link" routerLink="/painel/alunos/cadastro">
              <i class="bi bi-plus-circle"></i> Cadastro de Aluno
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/painel/alunos/lista">
              <i class="bi bi-eye"></i> Lista de Alunos
            </a>
          </li>
        </ul>
      </li>

      <!-- Pagamentos (com Submenu) -->
      <li class="nav-item">
        <a class="nav-link" (mouseover)="togglePagamentoMenu()">
          <i class="bi bi-credit-card"></i> Pagamentos
          <i
            class="bi"
            [class]="pagamentoMenuOpen ? 'bi-chevron-down' : 'bi-chevron-right'"
          ></i>
        </a>
        <ul
          *ngIf="pagamentoMenuOpen"
          class="nav flex-column ms-3"
          (mouseleave)="togglePagamentoMenu()"
        >
          <li class="nav-item">
            <a class="nav-link" routerLink="/painel/pagamentos/assinaturas">
              <i class="bi bi-check-circle"></i> Assinaturas
            </a>
          </li>
        </ul>
      </li>

      <!--   <li class="nav-item">
        <a class="nav-link" routerLink="/configuracoes">
          <i class="bi bi-gear"></i> Configurações
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link logout" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> Sair
        </a>
      </li>
    </ul>
  </div>

  <!-- Content Area -->
  <div class="content p-5 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
