// Variáveis para estilos modernos
$primary-color: #570a0a;
$secondary-color: #27ae60;
$background-color: #f4f6f9;
$text-color: #333;
$font-family: "Poppins", sans-serif;
$border-radius: 12px;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

// Estilização geral
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
}

// Input de pesquisa estilizado
.search-input {
  width: 100%;
  max-width: 400px;
  padding: 12px 18px;
  margin-bottom: 20px;
  border: none;
  border-radius: $border-radius;
  font-size: 16px;
  color: $text-color;
  background-color: #fff;
  box-shadow: $box-shadow;
  transition: all 0.3s ease-in-out;

  &:focus {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
}

// Estilo moderno para a tabela
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: $box-shadow;
  overflow: hidden;

  thead {
    background: $primary-color;
    color: #fff;
    text-align: left;

    th {
      padding: 15px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  tbody {
    tr {
      transition: all 0.3s ease-in-out;

      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: rgba($primary-color, 0.1);
        transform: scale(1);
        cursor: pointer;
      }

      td {
        padding: 15px;
        font-size: 14px;
        color: $text-color;

        &:first-child {
          font-weight: bold;
        }
      }
    }
  }

  button {
    padding: 10px 15px;
    border: none;
    border-radius: $border-radius;
    background-color: rgba(255, 0, 0, 0.901);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &.btn-danger {
      background-color: $primary-color;
    }
  }
}

// Responsividade para telas menores
@media (max-width: 768px) {
  table {
    font-size: 14px;

    thead {
      th {
        padding: 12px;
        font-size: 14px;
      }
    }

    tbody {
      td {
        padding: 12px;
      }
    }

    .celular {
      display: none; // Esconde a coluna de celular em telas pequenas
    }

    button {
      padding: 6px 10px;
    }
  }
}
