<app-loading-spinner [isLoading]="carregando"></app-loading-spinner>

<div class="mt-4" *ngIf="!carregando">
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Buscar aluno..."
    class="search-input"
  />

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th class="celular">Email</th>
        <th class="celular">Telefone</th>
        <th>Turmas</th>
        <th>Ações</th>
        <!-- Nova coluna -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos | alunoFilter : searchText">
        <td (click)="editar(aluno)">{{ aluno.name }}</td>
        <td class="celular">{{ aluno.email }}</td>
        <td class="celular">{{ aluno.phone }}</td>
        <td>
          {{ getTurmas(aluno) }}
        </td>
        <td>
          <button (click)="deletarAluno(aluno._id)" class="btn btn-danger">
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
