<app-loading-spinner [isLoading]="loadingTotalMes"></app-loading-spinner>
<div class="container d-flex">
  <div *ngIf="!loadingTotalMes">
    <div class="row justify-content-center mb-3">
      <h4 class="text-center mt-2">Próximos Repasses</h4>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-md-8">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-primary">Total Entrada</h5>
            <p class="card-text fs-4 fw-bold text-success">
              {{ totalArrecadadoMes | currency : "BRL" : "symbol" : "1.2-2" }}
            </p>

            <p
              class="text-muted text-sm"
              *ngIf="!loadingTotalMes && totalArrecadadoMes === 0"
            >
              Nenhuma arrecadação este mês ainda.
            </p>
            <p
              class="text-muted text-sm"
              *ngIf="!loadingTotalMes && totalArrecadadoMes === null"
            >
              Erro ao carregar total.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="list-group">
          <div
            *ngFor="let repasse of repasses"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span>
              <strong>Data:</strong>
              {{ repasse.date | date : "dd/MM/yyyy" }}
            </span>
            <span class="badge bg-success fs-6">
              R$ {{ repasse.amount | number : "1.2-2" }}
            </span>
          </div>
          <span class="fim-repasses" *ngIf="mostarMenos">
            Não há mais repasses previstos no momento.
          </span>
          <button
            class="btn btn-primary"
            (click)="carregarProximosRepasses(true)"
            *ngIf="!mostarMenos"
          >
            Carregar Mais
          </button>

          <button
            *ngIf="mostarMenos"
            class="btn btn-danger"
            (click)="carregarProximosRepasses(false)"
          >
            Mostrar Menos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
