<form (ngSubmit)="onSubmit()" class="mt-4">
  <div class="row">
    <!-- Nome do aluno -->
    <div class="col-md-6 col-12 mb-3">
      <label for="name" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="aluno.name"
        name="name"
        required
      />
    </div>

    <!-- CPF -->
    <div class="col-md-6 col-12 mb-3">
      <label for="cpf" class="form-label">CPF</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        [(ngModel)]="aluno.cpf"
        name="cpf"
        mask="000.000.000-00"
        placeholder="Digite seu CPF"
        required
      />
    </div>
  </div>

  <div class="row">
    <!-- RG -->
    <div class="col-md-6 col-12 mb-3">
      <label for="rg" class="form-label">RG</label>
      <input
        type="text"
        class="form-control"
        id="rg"
        [(ngModel)]="aluno.rg"
        name="rg"
        mask="00.000.000-0"
        placeholder="Digite seu RG"
      />
    </div>

    <div class="col-md-6 col-12 mb-3">
      <label for="birthDate" class="form-label">Data de Nascimento</label>
      <input
        type="text"
        class="form-control"
        id="birthDate"
        name="birthDate"
        [(ngModel)]="aluno.birthDate"
        mask="00/00/0000"
        placeholder="DD/MM/AAAA"
      />
    </div>
  </div>

  <div class="row">
    <!-- Telefone -->
    <div class="col-md-6 col-12 mb-3">
      <label for="phone" class="form-label">Telefone</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        [(ngModel)]="aluno.phone"
        name="phone"
        mask="(00) 00000-0000"
        placeholder="(00) 00000-0000"
      />
    </div>

    <!-- Email -->
    <div class="col-md-6 col-12 mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="aluno.email"
        name="email"
      />
    </div>
  </div>

  <div class="row">
    <!-- Endereço -->
    <div class="col-md-6 col-12 mb-3">
      <label for="address" class="form-label">Endereço</label>
      <input
        type="text"
        class="form-control"
        id="address"
        [(ngModel)]="aluno.address"
        name="address"
      />
    </div>

    <!-- Contato de Emergência -->
    <div class="col-md-6 col-12 mb-3">
      <label for="emergencyContactName" class="form-label"
        >Contato de Emergência (Nome)</label
      >
      <input
        type="text"
        class="form-control"
        id="emergencyContactName"
        [(ngModel)]="aluno.emergencyContact.name"
        name="emergencyContactName"
        name="phone"
        mask="(00) 00000-0000"
        placeholder="(00) 00000-0000"
      />
    </div>
    <div class="col-md-6 col-12 mb-3">
      <label for="responsiblePhone" class="form-label"
        >Contato de emergência (Telefone)</label
      >
      <input
        type="text"
        class="form-control"
        id="responsiblePhone"
        [(ngModel)]="aluno.emergencyContact.phone"
        name="responsiblePhone"
        mask="(00) 00000-0000"
        placeholder="(00) 00000-0000"
      />
    </div>
    <div class="col-md-6 col-12 mb-3">
      <label for="turmas" class="form-label">Turmas</label>
      <ng-select
        [items]="turmas"
        bindLabel="name"
        bindValue="_id"
        [(ngModel)]="aluno.turmas"
        [ngModelOptions]="{ standalone: true }"
        name="turmas"
        [multiple]="true"
        [searchable]="true"
        [closeOnSelect]="true"
        [virtualScroll]="true"
        [loading]="isLoading"
        class="form-control"
      >
      </ng-select>
    </div>
  </div>

  <div class="row">
    <!-- Se é menor de idade -->
    <div class="col-md-6 col-12 mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="isMinor"
        [(ngModel)]="aluno.isMinor"
        name="isMinor"
      />
      <label class="form-check-label" for="isMinor">É menor de idade?</label>
    </div>
  </div>

  <div class="row" *ngIf="aluno.isMinor">
    <!-- Responsável (Nome) -->
    <div class="col-md-6 col-12 mb-3">
      <label for="responsibleName" class="form-label">Responsável (Nome)</label>
      <input
        type="text"
        class="form-control"
        id="responsibleName"
        [(ngModel)]="aluno.responsible.name"
        name="responsibleName"
      />
    </div>

    <!-- Responsável (CPF) -->
    <div class="col-md-6 col-12 mb-3">
      <label for="responsibleCpf" class="form-label">Responsável (CPF)</label>
      <input
        type="text"
        class="form-control"
        id="responsibleCpf"
        [(ngModel)]="aluno.responsible.cpf"
        name="responsibleCpf"
        mask="000.000.000-00"
        placeholder="Digite o CPF do responsável"
      />
    </div>

    <!-- Responsável (RG) -->
    <div class="col-md-6 col-12 mb-3">
      <label for="responsibleRg" class="form-label">Responsável (RG)</label>
      <input
        type="text"
        class="form-control"
        id="responsibleRg"
        [(ngModel)]="aluno.responsible.rg"
        name="responsibleRg"
        mask="00.000.000-0"
        placeholder="Digite seu RG"
      />
    </div>

    <!-- Responsável (Telefone) -->
    <div class="col-md-6 col-12 mb-3">
      <label for="responsiblePhone" class="form-label"
        >Responsável (Telefone)</label
      >
      <input
        type="text"
        class="form-control"
        id="responsiblePhone"
        [(ngModel)]="aluno.responsible.phone"
        name="responsiblePhone"
        mask="(00) 00000-0000"
        placeholder="(00) 00000-0000"
      />
    </div>
  </div>

  <!-- Botões -->
  <div class="row justify-content-center mt-3">
    <button type="submit" class="btn btn-primary col-3 m-2">
      {{ editMode ? "Atualizar" : "Cadastrar" }}
    </button>
  </div>
</form>
