<div
  class="row mt-5 justify-content-center w-100 image-container"
  *ngIf="carregando"
>
  <app-loading-spinner [isLoading]="carregando"></app-loading-spinner>
</div>

<div class="mt-4" *ngIf="!carregando">
  <h2>Gerenciamento de Locais</h2>
  <button class="btn btn-primary" (click)="abrirModal()">Novo Local</button>

  <table class="table mt-3">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let local of locais">
        <td>{{ local.name }}</td>
        <td>{{ local.address }}</td>
        <td class="buttons">
          <button class="btn btn-sm btn-primary" (click)="editarLocal(local)">
            Editar
          </button>
          <button
            class="btn btn-sm btn-danger"
            (click)="excluirLocal(local._id)"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="localModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ editando ? "Editar Local" : "Novo Local" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="fecharModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="salvarLocal()">
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="localAtual.name"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Endereço</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="localAtual.address"
              name="address"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>
