// Variáveis globais
$primary-color: #570a0a;
$secondary-color: #27ae60;
$warning-color: #f1c40f;
$danger-color: #e74c3c;
$background-color: #f4f6f9;
$text-color: #333;
$border-radius: 10px;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

body {
  font-family: "Poppins", sans-serif;
  background-color: $background-color;
  color: $text-color;
}

.container {
  text-align: center;
}

// Global button styles
.btn {
  padding: 8px 12px;
  border: none;
  font-size: 13px;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  display: inline-flex; // Para alinhar ícone e texto
  align-items: center;
  gap: 5px; // Espaço entre o ícone e o texto
}

.btn-primary {
  background-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.btn-danger {
  background-color: $danger-color;
  &:hover {
    background-color: darken($danger-color, 10%);
  }
}

// Main card container
.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

// Individual card styling
.card {
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-header {
  padding: 1rem;
  background-color: $primary-color;
  border-bottom: 1px solid lighten($primary-color, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  text-align: center;
}

.local-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: $background-color;
  text-align: center;
}

.location {
  font-size: 0.9rem;
  color: $background-color;
}

.card-body {
  padding: 1rem;
}

.detail-group {
  margin-bottom: 0.75rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.detail-group label {
  font-weight: 600;
  color: $text-color;
  display: block;
  margin-bottom: 0.25rem;
}

.detail-group p {
  margin: 0;
  font-size: 1rem;
  color: $text-color;
}

.card-footer {
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

// Responsividade
@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
